*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    height: .1rem;
    width: .5rem;
}
::-webkit-scrollbar-track{
    background-color: #67ccff;
}
::-webkit-slider-thumb{
    background-color: #194eb9;
    border-radius:5rem;
}
body{
    font-family: 'Poppins',sans-serif;
    background-color: #1d002c;
    color: #ffff;
    overflow-x:hidden;
    height: 790px;
    width: 100%;

}
header{
    padding: 25px 10%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index:1001 ;
}

.logo{
   
    height: 120px;
    width: 120px;
    
}
ul.navlist{
    display: flex;
    align-items: center;
}
.navlist li{
    margin-left: 1rem ;
}
.navlist li a{
    color: #ffff;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    padding: 5px 12px;
    border:2px solid #12f7ff;
    border-radius:25px ;
    transition: all .3s ease;
}
.navlist li a:hover,
:active
{
    box-shadow: 0 0 1rem #12f7ff;
    background: #12f7ff;
    color: #ffff;

}
section{
    min-height: 100%;
}
.parallax-home{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

}
.parallax-home img{
    position: absolute;
    object-fit: cover;
    pointer-events: none;

}

.parallax-home #text{
    position: absolute;
    font-size: 2.5rem;
    text-shadow: 0 10px 4px rgba(0,0,0,.85);
    top: 89%;
    left: 3%;

}
.parallax-home img#moon ,.about img#desert-moon{
    mix-blend-mode: screen;

}
.about{
    position: relative;

    margin-top: 100px;
    height: 850px;
    width: 100%; 
    /* background-color: #19b961; */

}
 .about img{

    position: absolute;
    z-index: 1000;
    display: flex;
    object-fit: cover;
    
    pointer-events: none;
 }
 .about img .about-waterfall{
    position: absolute;
    top: -95px;
    padding-top: 95px;


 }
 .about .info-box{
    position: absolute;
    top:0%;
    left: 10%;
    width: 50%;
    z-index: 1003;
    background-color: #1d002c;
    


 }
 #para{
    margin-top:-110px;
 }
 .about .info-box h2{
    margin-bottom: 1.5rem;
    margin-top: .5rem;
 }
 .btn{
    background-color: #12f7ff;
    color: #1d002c;
    text-decoration: none;
    border-radius:25px ;
    padding: .5rem 1rem;
    transition: all .3s ease;
 

 }
 .btn:hover{
    box-shadow: 0 0 1rem #12f7ff;
    background: #1d002c;
    color: #12f7ff;
  
 }
 .product{
    height: 700px;
    width: 100%; 
    background-color: #194eb9;

    padding: 3rem 10%;
 }
 .product h2{
    font-size:2rem ;
    padding: 2rem 0 1rem 0;
    text-align: center;
    margin-bottom:5rem ;
 }
 .product-card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

 }
 .card{
    padding: 1rem;
    border: 2px solid #12f7ff;
    text-align: center;
    border-radius: 25px;
    display: block;
    transition: all .4s ease;
    z-index: 999;
}
.card:hover{
    cursor: pointer;
    transform: translateY(-8px);
}
.card img{
    width: 150px;
    height: 150px;
}
.icon-collection{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    
}
.icon{
    height: 50px;
    width: 50px;
    background-color: #12f7ff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    /* align-items: center; */
   margin: 0px 10px;
}
.brand{
    color: rgb(0, 0, 0);
    font-size: 26px;
}
/* button click cheyumbo color change avan */
.brand:hover{
    color: white;
}
.icon:hover{
    background-image: linear-gradient( #1d002c, #194eb9);
    animation: rotate 2s;
}
@keyframes rotate{
    0%{
        transform: rotate(30deg);
    }
    20%{
        transform: rotate(-30deg);
    }
    40%{
        transform: rotate(30deg);
    }
    60%{
        transform: rotate(-30deg);
    }
    80%{
        transform: rotate(30deg);
    }    
    100%{
        transform: rotate(-30deg);
    }
}
#copy-rigt{
    text-align: center;
    font-weight: bold;
}
.arrowup{
    float: right;
    margin: -40px 30px 30px 0px;
}